html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: darkgrey;
}

#container {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
}

#sidebar {
  background-color: bisque;
  width: 30%;
  transition: transform 1s;
  z-index: 2;
  height: 90%;
  padding: 3rem;
  border-radius: 30%;
}
/* on tablet search, toggle btn and h1 go to top and become horizontal 
results go to bottom and go horizontal
*/
#results{
    list-style: none;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#search {
  margin-bottom: 10px;
  
}

button {
  display: flex;
  background-color: cornflowerblue;
  color: bisque;
  margin-top: 30px;
}

#toggle {
  position: absolute;
  z-index: 3;
  width: 8rem;
  left: 50%;
  right: 50%;
  top: 10px;
}
.collapsed {
  transform: translateX(-23rem);
}

.list-markers {
  margin-bottom: 10px;
}

.title {
  color: dodgerblue;
  text-align: center;
}

.bar{
    padding: 300px;
   
} 

.relevant {
  visibility: hidden;
}
/* add media qu for middle size screen */
@media screen and (max-width: 886px) {
    #search {
      position: fixed;
      width: 50%;
      top: 20px;
      right: 120px;
    }
    #sidebar {
      position: fixed;
      width: 100vw;
      height: 10%;
      border-radius: 0;
    }
    #toggle {
      top: 0;
      left: 15px;
      width: 50px;
    }
  
    #results{
     visibility: hidden; 
    }
  
    .title{
    visibility: hidden;
    }
    #reset{
        position: fixed;
        top: 0;
        right: 25px;
    }
  }
