

html,
body {
    margin: 0;
    padding: 0;
    height: 100%; 
    background-color: darkgrey;
}


#container {
    display: flex;
    height: 100%;
    width: 100%;
}

#sidebar {
    background-color: bisque;
    width: 30%;
    transition: transform 1s;
    z-index: 2; 
    height: 90%;
    padding: 30px;
    
}

#map {
   position: absolute;
   top: 0;
   bottom: 0;
   width: 100%;
}

#search{
    margin-bottom: 10px;
}

button {
    display: flex;
    background-color: cornflowerblue;
    color: bisque;
    margin-top: 30px;
}

#toggle {
    position: absolute;
    z-index: 3;
    width: 8rem;
    left: 50%;
    right: 50%;
    top: 10px;
}

.collapsed {
    transform: translateX(-23rem);
}

.list-markers {
    margin-bottom: 10px;
}

.title{
    color: dodgerblue;
    text-align: center;
}

.bar{
    padding: 300px;
   
}
